name: Deploy Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
  workflow_dispatch:
env:
  AWS_REGION: ap-south-1
  FRONTEND_S3_BUCKET: online-judge-frontend
  CLOUDFRONT_DISTRIBUTION_ID: E1S5KJH3VT41VA

  BACKEND_API_GATEWAY_URL: https://ms92kgfcye.execute-api.ap-south-1.amazonaws.com/default/OnlineJudgeBackendAPI
  COMPILER_API_GATEWAY_URL: https://8sjnn980xk.execute-api.ap-south-1.amazonaws.com/default/OnlineJudgeCompilerAPI

jobs:
  deploy-frontend:
    name: Build & Deploy Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build Frontend (Vite)
        working-directory: frontend
        run: |
          npm ci
          export VITE_BACKEND_URL=${BACKEND_API_GATEWAY_URL}
          export VITE_BACKEND_URL2=${COMPILER_API_GATEWAY_URL}
          npm run build

      - name: Upload to S3
        run: |
          aws s3 sync frontend/dist s3://${FRONTEND_S3_BUCKET} --delete

      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${CLOUDFRONT_DISTRIBUTION_ID} \
            --paths "/*"
      
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-production-build
          path: frontend/dist/
          retention-days: 5
      - name: Trigger Azure Release
        uses: Azure/pipelines@v1
        with:
          azure-devops-project-url: 'https://dev.azure.com/BeyondKeyTraining/AZ Training'
          azure-pipeline-name: 'online-judge-frontend'
          azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
         
